html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    min-width: 180px;
}

.main-content {
    flex-grow: 1;
    background-color: #ecf0f1;
    overflow-y: auto;
    padding: 20px;
}

.sidebar img.logo {
    max-width: 140px;
    height: auto;
    display: block;
    margin: 0 auto 30px auto;
    filter: brightness(1.2);
}

.sidebar .nav-link {
    color: white;
    padding: 10px 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    .sidebar .nav-link:hover,
    .sidebar .nav-link.active {
        background-color: #34495e;
        text-decoration: none;
    }

    .sidebar .nav-link.logout {
        margin-top: auto;
    }

.action-link {
    margin-right: 18px;
    display: inline-block;
    vertical-align: middle;
}

.action-icon-img {
    width: 28px;
    height: 28px;
    transition: transform 0.2s ease-in-out;
    
}

.bienvenida-panel {
    background-color: #e4ecf4;
    height: 200px;
    display: flex;
    align-items: center;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.bienvenida-texto {
    flex: 1;
}

.bienvenida-imagen {
    flex-shrink: 0;
    margin-left: 30px;
}

.bienvenida-imagen img {
    max-height: 180px;
    width: auto;
    border-radius: 8px;
}

.dashboard-cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.dashboard-card {
    flex: 1;
    min-width: 80px;
    max-width: 30%;
    background-color: #b4bdde;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-card img {
    width: 70px;
    height: 70px;
}

.dashboard-card .card-number {
    font-size: 1.5rem;
    font-weight: bold;
    color: #3b3e5e;
}

.dashboard-card .card-title {
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
}

.content-listado-card {
    background-color: #e4ecf4;
    height: 400px;
    display: flex;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    margin-top: 30px;
}

.listado-card {
    width: 100%;
}

.listado-table-thead {
    background-color: #3b3e5e;
}

.listado-table-thead tr th {
    color: #fff;
    font-weight: bold;
}

.listado-card h3 {
    margin-bottom: 20px;
    color: #333;
}

.content-canvas-graphic {
    display: block;
    box-sizing: border-box;
    height: 400px;
    width: 800px;
}