USE [master]
GO
/****** Object:  Database [CLINICA_DB]    Script Date: 16/6/2025 18:03:50 ******/
CREATE DATABASE [CLINICA_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CLINICA_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CLINICA_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CLINICA_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CLINICA_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CLINICA_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CLINICA_DB]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 16/6/2025 18:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](50) NULL,
	[Pass] [varchar](50) NULL,
	[TipoUser] [int] NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[USUARIOS] ON 

INSERT [dbo].[USUARIOS] ([Id], [Usuario], [Pass], [TipoUser]) VALUES (1, N'admin', N'admin', 1)
INSERT [dbo].[USUARIOS] ([Id], [Usuario], [Pass], [TipoUser]) VALUES (2, N'recep', N'recep', 2)
INSERT [dbo].[USUARIOS] ([Id], [Usuario], [Pass], [TipoUser]) VALUES (3, N'med', N'med', 3)
SET IDENTITY_INSERT [dbo].[USUARIOS] OFF
GO
USE [master]
GO
